$border-color: rgb(0, 0, 0);

.imageList {

  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  .img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    border: solid $border-color 1px;
  }

}
