@import './scss/theme';

.imageList {

  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  .img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    border: $simpleBorder;
    transition: transform .5s linear;
    transform:perspective(150px) rotate3d(1,1,0,0deg);

    &:hover {
      transform:perspective(150px) rotate3d(1,1,0,180deg);
      }
      
  }

  

}
